body {
    background-color: #EEEEEE;    /* Light blue*/
    text-align: center;
}
table, td, th {
    border: 1px solid black;

}
tr:nth-child(even) {background-color: #99BADD;}

table {
    margin-left:auto; 
    margin-right:auto;
    border-collapse: collapse;
    width: 75%;
    color: #F8F8F8;
    background-color: #5995DA;      /* Blue */
    padding: 30px 0px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
}
input {
    border-collapse: collapse;
    border: 2px solid #5D6063;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 3px;
}
th {
    height: 50px;
}

thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
